<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SocketAutoTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SocketAutoTest.Properties.Settings>
            <setting name="Sql" serializeAs="String">
                <value>Data Source=127.0.0.1;Initial Catalog=JingJinAcs;Persist Security Info=True;User ID=sa;Password=abc123*</value>
            </setting>
            <setting name="Host" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
        </SocketAutoTest.Properties.Settings>
    </userSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MyEndPoint" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://172.16.18.63:8080/ModelService" binding="basicHttpBinding"
                bindingConfiguration="MyEndPoint" contract="ServiceReference1.ModelContract"
                name="MyEndPoint" />
        </client>
    </system.serviceModel>
</configuration>