<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="map_181115.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <userSettings>
        <map_181115.Properties.Settings>
            <setting name="Sql" serializeAs="String">
                <value>Data Source=127.0.0.1;Initial Catalog=ACSNEW;User ID=sa;Password=abc123*</value>
            </setting>
            <setting name="GsWidth" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="GsHeight" serializeAs="String">
                <value>200</value>
            </setting>
        </map_181115.Properties.Settings>
    </userSettings>
</configuration>