<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="XNWMS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <system.serviceModel>
    <client>
      <endpoint address="http://127.0.0.1:8889/wms" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IService1" contract="ServiceReference1.IService1"
        name="BasicHttpBinding_IService1" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="BehaviorModel">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="BindingModel" />
        <binding name="MyEndPoint" />
        <binding name="BasicHttpBinding_IService1" />
      </basicHttpBinding>
    </bindings>
    
  </system.serviceModel>
  <userSettings>
    <XNWMS.Properties.Settings>
      <setting name="sql" serializeAs="String">
        <value>Data Source=172.16.5.28;Initial Catalog=XNWms;Persist Security Info=True;User ID=sa;Password=abc123*</value>
      </setting>
      <setting name="sql1" serializeAs="String">
        <value>Data Source=172.16.5.28;Initial Catalog=XinNingWms;Persist Security Info=True;User ID=sa;Password=abc123*</value>
      </setting>
      <setting name="sqlwcs" serializeAs="String">
        <value>Data Source=172.16.5.28;Initial Catalog=XinNingWcs;Persist Security Info=True;User ID=sa;Password=abc123*</value>
      </setting>
      <setting name="url" serializeAs="String">
        <value>http://172.16.5.28:2000/api</value>
      </setting>
      <setting name="url1" serializeAs="String">
        <value>http://172.16.5.28:9998/api</value>
      </setting>
    </XNWMS.Properties.Settings>
  </userSettings>
</configuration>